.nav {
  background-color: rgb(183, 196, 184);
  width: 100%;
  height: 50px;
  padding-top: 10px;
  font-size: 18px;
}
.login{
  display: block;
  
}
ul {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  justify-content: space-around;
  font-size: 16px;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}
.nav-item{
  margin: 10px;
  list-style: none;
}
.card{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 10px;

  /* grid-template-rows:  repeat(3,1fr); */

}
.con {
  border:1px solid gray ;
  /* box-shadow: gray; */
  margin: 10px;
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
}
.nav-item a{
  text-decoration: none;
  color:dimgray;
}
.footer {
  background-color: #cdd;
  display: flex;
  align-items: flex-end;

}
.footer ul{
  padding: 10px;
  list-style: none;
}
.footer ul li{
  padding-left: 10px;
}